*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.brand-img{
    padding: 1.3rem;
}
.link{
    text-decoration: none;
}
.row-part1,.blank-part1{
    background-color: rgb(30,57,50);
}
.summer-text{
    margin-top: 3rem;
}
.btn-rewards{
    background-color: rgb(30,57,50);
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.blank-part2{
    color: rgb(30,57,50);
    background-color: rgb(250,145,170);
}
.drink-text{
    font-size: 3.5rem;
    margin-top: 5rem;
}
.btn-learn-more{
    background-color: rgb(250,145,170);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.row-part2{
    background-color: rgb(250,145,170);
}
.row-part3,.blank-part3{
    background-color: rgb(0,112,66);
}
.Hurray-text{
    font-size: 3.5rem;
    margin-top: 7rem;
}
.btn-order{
    background-color: rgb(0,112,66);
    margin-top: 1rem;
    margin-bottom: 3.5rem;
}
article a:hover{
    text-decoration: none;
}
.Bottom-List ul{
    padding-inline-start: 30px;
}
.Bottom-List ul h6{
    color: rgb(33,33,33);
    font-weight: 400;
    line-height: 65px;
    font-size: medium;
}
.Bottom-List li{
    line-height: 50px;
    font-size: 14px;
}

.Bottom-List li a:hover{
    color: #000;
}
.Bottom-List li a{
    text-decoration: none;
}
.list-firstpart{
    padding-left: 40px;
    float: left;
    list-style: none;
    margin: 11 0 5px 0;
}
.list-secondpart,
.list-thirdpart,
.list-forthpart,
.list-fifthpart{
    float: left;
    list-style: none;
}
@media screen and (max-width: 1400px) {
.list-firstpart,
.list-secondpart,
.list-thirdpart,
.list-forthpart,
.list-fifthpart{
    width: 100vw;
}
}
.contact-icons img{
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
}
.contact-icons li{
    list-style: none;
    display: inline;
}
.policy li{
    padding-top: 1rem;
    list-style: none;
}
.policy a{
    text-decoration: none;
    color: #000;
}
.policy a:hover{
    text-decoration: underline;
}
.rights{
    margin-left: 1.8rem;
}
.rights p{
    font-weight: lighter;
}
